@import (reference) "constants";

@JobHeight:100;

/* Position */
.job{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  pointer-events:none;
  z-index:@JobHeight;

  &:after{
    background-color: @black;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
  }
}

.job__details{
  background-color: @LightSwatch;
  border-radius: 4px !important;
  display:block;
  max-width:800px;
  padding: 1.25em;
  position: absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%) scale(0.6);
  text-align:left;
  z-index:@JobHeight + 1;

  p{
    font-family: @NormalFont;
    font-size:1em;
  }
}

/* Animation Transformation Settings */
.job:after{
  opacity:0;
  transition: opacity 0.3s ease-in;
}

.job__details{
  opacity: 0;
  transition: all 0.3s ease-in;
  will-change: transform, opacity;
}

/* Animation Transformation */
.job.job--active{
  pointer-events:all;

  &:after{
    opacity:0.8;
  }

  .job__details{
    opacity:1;
    transform:translateX(-50%) translateY(-50%) scale(1);
  }
}
