/* COLORS */
@black: #101010;
@SlideColor: #ffffff;
@TextColor: @black;
@BoldFontColor: @black;

/* FONTS */
@BoldFont: 'Montserrat', sans-serif;
@NormalFont: 'Raleway', sans-serif;

/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* STYLES */
body, html{
  margin:0;
  height:100%;
}

body{
  background-color: @SlideColor;
}

h1, p{
  color:@TextColor;
}

h1{
    font-family: @BoldFont;
    font-size: 100px;
		font-weight: 900;
}

p{
	font-family: @NormalFont;
	font-size: 1em;
  line-height: 1.5em;
}

section{
	height: 100vh;
}

.wrapper{
	margin-right:25%;
	// box-shadow: 5px 0 10px rgba(0,0,0,.26)
}

.splash-text{
	align-self:baseline;
	position: absolute;
	bottom:20%;
}

.splash-portrait{
	background-color: @black;
	background-image: url(../images/ian-banner.jpg);
	background-size:cover;
	filter: grayscale(100%);
	position:fixed;
	right:0;
	top:0;
	bottom:0;
	width:25%;
	z-index: -1;
}

.grid{
  align-items:center;
	box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
	margin:0 auto;
	max-width:800px;
	padding-bottom:20%;
}

nav{
	display:flex;
	justify-content: center;
	margin: 0 auto;
	padding: 2em 0;
	position:fixed;
	top:0;
	left:0;
	width:100%;

	a{
		margin: 0 1em;
	}
	a:first-child{
		margin:0 1em 0 0;
	}
	a:last-child{
		margin: 0 0 0 1em;
	}
}

nav{
	a{
		color: @BoldFontColor;
		font-size:1.5em;
		font-family: @BoldFont;
		text-decoration: none;
		font-weight:700;
		position:relative;

		&:after{
			background-color: @BoldFontColor;
			box-sizing: border-box;
			content: '';
			display:block;
			height:.125em;
			margin-top:.125em;
			position:absolute;
			top:100%;
			width:100%;
		}
	}

	a{
		&:after{
			opacity:0;
			transform: translateY(5px);
			transition: opacity 0.2s ease-in, transform 0.2s ease-in;
		}
	}

	a:hover{
		&:after{
			opacity:1;
			transform: translateY(0);
		}
	}
}
