@import (reference) "constants";

/* STYLES */
body, html{
  margin:0;
  height:100%;
}

body{
  background-color: @SlideColor;
}

h1, h2, h3, p{
  color:@TextColor;
}

h1{
    font-family: @BoldFont;
    font-size: 100px;
		font-weight: 900;
}

p{
	font-family: @NormalFont;
	font-size: 1.25em;
  line-height: 1.5em;
}

/* LIST STYLES */
.list{
	list-style: disc;
	padding-left: 40px;

	.list--item{
		display: list-item;
		font-family: @NormalFont;
		font-size: 1em;
		line-height: 1.25em;

		&:not(:last-child){
			margin-bottom: .5em;
		}
	}
}
