/* VARIABLES */
@import (reference) "constants";
@SkillHeight: 400px;
@SkillSmallHeight: .8 * @SkillHeight;

/* LAYOUT */
.skills-wrapper--skill{
  width: @SkillHeight;

  @media @phone{
    width: @SkillSmallHeight;
  }

  & > *:not(:last-child){
    margin-bottom: 1em;
  }
}

.skills--image{
  height:@SkillHeight;
  width:@SkillHeight;

  @media @phone{
    height: @SkillSmallHeight;
    width: @SkillSmallHeight;
  }
}

/* STYLING */
.skills--image{
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.skills--text{
  font-size: 1em;

  @media @phone{
    font-size: 1.25em;
  }
}

.skills--group{
  & > *:not(:last-child){
    margin-bottom: .25em;
  }
}

.skills--columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  width:100%;

  @media @smallScreen, @phone{
    justify-content: space-around;
  }

  &.skills--columns-centered{
    @media @phone{
      flex-direction: column;
      text-align: center;
    }
  }
}

.skill-column{

  @media @phone{
    margin-bottom: 1.25em;
  }

  @media @phone, @smallScreen{
    text-align: center;
  }

  .skill-column--header{
    color:lighten(@BoldFontColor, 20%);
    font-size:1em;
    font-family: @BoldFont;
    font-weight: 900;
    line-height: 1.5em;
    margin-bottom: .125em;

    @media @phone{
      font-size: 1.25em;
    }
  }

  .skill-column--list-item{
    font-family: @NormalFont;
    font-size:.75em;

    @media @phone{
      font-size: 1em;
    }

    &:not(:last-child){
      margin-bottom: .25em;
    }
  }

  .skill-column--link{
    font-family: @NormalFont;
    font-size: 1em;

    @media @phone{
      font-size: 1.5em;
    }
  }
}
