@import (reference) "constants";

@columnWidth: 420px;
@padding: 1.5rem;

.big-image{
  background-image: url(/assets/images/splash.jpg);
  background-size: cover;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: -1;
}


/* Positioning */
.splash-text{
	align-self:baseline;
	position: absolute;
	bottom:20%;
	width:@columnWidth;
	text-align:center;

	h1{
		@media @phone{
			line-height: 0.9em;
		}
	}

	p{
		font-size: 1.25em;
		text-align: left;
	}

	@media @phone{
		position: initial;
		width:auto;

		h1{
			font-size: 4em;
		}

		p{
			font-size: 1.125em;
			width:auto;
		}

		a{
			font-size:1.25em;
		}
	}
}

.splash-text{
  align-items:center;
  bottom: auto;
  display:flex;
  left:10%;
  top:20%;
  padding: 1.5rem;
  width:calc(2 * @columnWidth + 2 * @padding);

  & > div {
    width: 420px;
  }
}

.splash-text--column{
  & > *:not(:last-child) {
    margin-bottom:2em;
  }
}

/* Design */
.splash-text{
  border-radius: 4px !important;
  background-color: #FFFFFF;
}
