@import (reference) "constants";

/* Variables */
@WorkItemWidth: 300px;
@SmallWorkItemWidth: .65 * @WorkItemWidth;

/* Positioning */
.work-wrapper{
  .work-wrapper--work{
    width:@WorkItemWidth;

    @media @smallScreen{
      width: @SmallWorkItemWidth;
    }
  }
}

.work-wrapper--work{
  .work-wrapper--link{
    background-repeat:no-repeat;
    cursor: pointer;
    display: block;
    height:@WorkItemWidth;
    width:@WorkItemWidth;

    @media @smallScreen{
      height: @SmallWorkItemWidth;
      width: @SmallWorkItemWidth;
    }

    &.work-wrapper--link_elexio{
      background-color: @black;
      background-image: url(/assets/images/elexio-logo.svg);
      background-position: center center;
      background-size: 80%;
    }

    &.work-wrapper--link_listrak{
      background-color: @white;
      background-image: url(/assets/images/listrak-logo.png);
      background-position: center center;
      background-size: 80%;
    }

    &.work-wrapper--link_tnp{
      background-color: @black;
      background-image: url(/assets/images/tnp-logo.svg);
      background-position: center center;
      background-size: 70%;
    }
  }

  p{
    text-align: center;
  }
}

.work-details--area{
  margin: 1em 0;
}

/* HOVER EFFECT */
.work-wrapper--work{
  a{
    position:relative;
    transition: transform 0.2s ease-in;
    will-change: transform;

    &:before, &:after{
      display:block;
      position: absolute;
    }

    &:before{
      color: @LightSwatch;
      content: 'Click for Details';
      font-family: @NormalFont;
      font-size:1.25em;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease-in;
      will-change: opacity;
      // bottom:10%;
      top:50%;
      left:50%;
      opacity:0;
      z-index:3;
    }

    &:after{
      .fullsize-pseudo();
      background-color: #000000;
      opacity:0;
      transition: opacity 0.2s ease-in;
      z-index:2;
    }

    &:hover{
      transform: scale(1.05, 1.05);

      &:after{
        opacity: 0.7;
      }
      &:before{
        opacity: 1;
      }
    }
  }
}

/* WORK DETAILS OPENING */
.work-details{
  overflow:hidden;
  transition: height 0.2s ease-out;

  &:not(.active){
    height:0;
  }
}

/* Styling */
.work-wrapper--work{
  a{
    background-size: cover;
    background-repeat: none;
  }
}

.work-details{
  & > *:not(:last-child){
    margin-bottom: .5em;
  }
}
