@import (reference) "constants";

/* Positioning */
.section--content{
  margin:0 auto;
  max-width:1000px;
}

.work-wrapper{
  display:flex;
  flex-wrap: wrap;

  .work-wrapper--work{
    background-color:rebeccapurple;
    height: 400px;
    flex: 0 0 auto;
    margin: 1em;
    width:300px;
  }
}

/* Styling */
.section{
  background-color:@LightSwatch;
}
