@import (reference) "constants";

/* Variables */
@WorkItemMargin: 1em;
@WorkItemWidth: 300px;

/* Positioning */
.section{
  padding: 0 3em;
}

.section--content{
  border-bottom: 1px solid grey;
  margin:0 auto;
  max-width:1000px;
  padding: 2em 0;

  & > *:not(:last-child){
    margin-bottom:1em;
  }
}

.work-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -1 * @WorkItemMargin;

  .work-wrapper--work{
    flex: 0 0 auto;
    margin: @WorkItemMargin;
    width:@WorkItemWidth;
  }
}

.work-wrapper--work{
  a{
    cursor: pointer;
    display: block;
    height:@WorkItemWidth;
    width:@WorkItemWidth;
  }

  p{
    text-align: center;
  }
}

.work-details--area{
  margin: 1em 0;
}

/* HOVER EFFECT */
.work-wrapper--work{
  a{
    position:relative;
    transition: transform 0.2s ease-in;
    will-change: transform;

    &:hover{
      transform: scale(1.05, 1.05);
      // transition: transform 0.2s ease-in;

      &:after{
        opacity: 0.6;
      }
      &:before{
        opacity: 1;
      }
    }

    &:before, &:after{
      display:block;
      position: absolute;

    }

    &:before{
      color: @LightSwatch;
      content: 'Click for Details';
      font-family: @NormalFont;
      font-size:1.25em;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease-in;
      will-change: opacity;
      top:50%;
      left:50%;
      opacity:0;
      z-index:3;
    }

    &:after{
      content: '';
      background-color: #000000;
      opacity:0;
      transition: opacity 0.2s ease-in;
      z-index:2;

      top:0;
      bottom:0;
      left:0;
      right:0;
    }
  }
}

/* WORK DETAILS OPENING */
.work-details{
  overflow:hidden;
  transition: height 0.2s ease-out;

  &:not(.active){
    height:0;
  }

}

/* Styling */
.section{
  background-color:@LightSwatch;
}

.work-wrapper--work{
  a{
    background-size:cover;
    background-repeat: none;
  }
}

.work-details{
  // padding: 1em 0;
  // margin: 1em 0;

  & > *:not(:last-child){
    margin-bottom: .5em;
  }

  ul{
    list-style: disc;
    padding-left: 40px;

    li{
      display: list-item;
      font-family: @NormalFont;
      font-size: 1em;
      line-height: 1.25em;

      &:not(:last-child){
        margin-bottom: .5em;
      }
    }
  }
}
