/* Resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* COLORS */
/* FONTS */
/* Media Queries */
/* Constants */
/* STYLES */
:root {
  --overlayColor: #0d7ff2;
  --buttonColor: #407fbf;
}
body,
html {
  margin: 0;
  height: 100%;
}
body {
  background-color: #ffffff;
}
h1,
p {
  color: #101010;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 900;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
section {
  height: 100vh;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  section.splash-grid {
    height: calc(100vh - 200px - 88px);
  }
}
/* MIXINS */
.wrapper {
  background-color: #ffffff;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .wrapper {
    margin-right: 0;
  }
}
.splash-portrait {
  background-image: url(/assets/images/ian-banner-small-bw.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  background-color: var(--overlayColor);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  z-index: -1;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .splash-portrait {
    background-color: #101010;
    background-blend-mode: initial;
    background-image: url(/assets/images/cropped_header_bw.jpg);
    background-position: center;
    height: 200px;
    position: relative;
    width: 100%;
  }
}
.splash-portrait:after {
  -webkit-animation-name: lighten;
          animation-name: lighten;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background-color: #101010;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.grid {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 20%;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .grid {
    max-width: 650px;
  }
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .grid {
    padding: 2em 1em;
  }
}
.media-links {
  text-align: left;
}
.media-links h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .25em;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .media-links {
    text-align: center;
  }
  .media-links h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
.media-links .media-links-list .media-links-list_item {
  cursor: pointer;
  margin-bottom: .5em;
  margin-left: 1em;
}
.media-links .media-links-list .media-links-list_item a {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .media-links .media-links-list .media-links-list_item {
    margin-left: 0;
    margin-bottom: 1.25em;
  }
  .media-links .media-links-list .media-links-list_item a {
    font-size: 1.5em;
  }
}
/* ANIMATION CLASSES */
.delay {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.slide-in {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.drop-down {
  -webkit-animation-name: dropDown;
          animation-name: dropDown;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
@media only screen and (min-width: 768px) and (max-width:1440px), only screen and (min-width:1441px) {
  .add-shadow {
    position: relative;
  }
  .add-shadow:after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    will-change: opacity;
    z-index: -1;
    -webkit-animation-name: addShadow;
            animation-name: addShadow;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
/* EXTRA STYLES FOR ANIMATION */
@media only screen and (min-width: 768px) and (max-width:1440px), only screen and (min-width:1441px) {
  .wrapper {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    padding-left: 25%;
    will-change: transform;
  }
}
.splash-portrait:after:after {
  -webkit-animation-name: lighten;
          animation-name: lighten;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  will-change: opacity;
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
@-webkit-keyframes lighten {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lighten {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dropDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes dropDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes addShadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes addShadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 2em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav a {
  margin: 0 1em;
}
nav a:first-child {
  margin: 0 1em 0 0;
}
nav a:last-child {
  margin: 0 0 0 1em;
}
nav a {
  color: #101010;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
nav a:after {
  background-color: #101010;
  box-sizing: border-box;
  content: '';
  display: block;
  height: .125em;
  margin-top: .125em;
  position: absolute;
  top: 100%;
  width: 100%;
}
nav a:after {
  opacity: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
nav a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/* CONTACT BUTTON */
.contact-button {
  background-color: var(--buttonColor);
  border-radius: 1.5em;
  color: #ffffff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding: 1.5em 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .contact-button {
    background-color: #5b40bf;
  }
}
.contact-button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.big-image {
  background-image: url(/assets/images/splash.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* Positioning */
.splash-text {
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline;
  position: absolute;
  bottom: 20%;
  width: 420px;
  text-align: center;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .splash-text h1 {
    line-height: 0.9em;
  }
}
.splash-text p {
  font-size: 1.25em;
  text-align: left;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .splash-text {
    position: initial;
    width: auto;
  }
  .splash-text h1 {
    font-size: 4em;
  }
  .splash-text p {
    font-size: 1.125em;
    width: auto;
  }
  .splash-text a {
    font-size: 1.25em;
  }
}
.splash-text {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: 10%;
  top: 20%;
  padding: 1.5rem;
  width: calc(843px);
}
.splash-text > div {
  width: 420px;
}
.splash-text--column > *:not(:last-child) {
  margin-bottom: 2em;
}
/* Design */
.splash-text {
  border-radius: 4px !important;
  background-color: #FFFFFF;
}
