/* Resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* STYLES */
body,
html {
  margin: 0;
  height: 100%;
}
body {
  background-color: #ffffff;
}
h1,
p {
  color: #101010;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 900;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
/* MIXINS */
.wrapper {
  background-color: #ffffff;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .wrapper {
    margin-right: 0;
  }
}
/* ANIMATION CLASSES */
/* EXTRA STYLES FOR ANIMATION */
/* CONTACT BUTTON */

.big-image {
  background-image: url(/assets/images/splash_cropped.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.splash-section {
  height: 100vh;
  position: relative;
}
/* Positioning */
.splash-text {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 10%;
  margin-top: -1.5rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  position: absolute;
  top: 20%;
  max-width: calc(843px);
}
.splash-text > div {
  margin-top: 1.5rem;
  width: 420px;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .splash-text {
    position: relative;
    margin: 0 auto;
    top: 10%;
    left: auto;
  }
  .splash-text > div {
    width: 420px;
  }
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .splash-text {
    top: 5%;
  }
}
.splash-text--column > *:not(:last-child) {
  margin-bottom: 1.25em;
}
.splash-text--column p {
  text-align: left;
}
/* Design */
.splash-text {
  background-color: #ffffff;
  border-radius: 4px !important;
  text-align: center;
}
/* MEDIA LINKS */
.media-links {
  text-align: left;
}
.media-links h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .25em;
}
@media only screen and (min-width:0px) and (max-width:768px) {
  .media-links {
    text-align: center;
  }
  .media-links h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
.media-links .media-links-list .media-links-list_item {
  cursor: pointer;
  margin-bottom: .5em;
  margin-left: 1em;
}
.media-links .media-links-list .media-links-list_item a {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .media-links .media-links-list .media-links-list_item {
    margin-left: 0;
    margin-bottom: 1.25em;
  }
  .media-links .media-links-list .media-links-list_item a {
    font-size: 1.5em;
  }
}

/* Variables */
/* Positioning */
.section {
  padding: 2em 3em;
}
.section--content {
  margin: 0 auto;
  max-width: 1000px;
}
.section--content > *:not(:last-child) {
  margin-bottom: 1em;
}
.work-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -1em;
}
.work-wrapper .work-wrapper--work {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 1em;
  width: 300px;
}
.work-wrapper--work a {
  cursor: pointer;
  display: block;
  height: 300px;
  width: 300px;
}
.work-wrapper--work p {
  text-align: center;
}
/* HOVER EFFECT */
.work-wrapper--work a {
  position: relative;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  will-change: transform;
}
.work-wrapper--work a:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.work-wrapper--work a:hover:after {
  opacity: 0.6;
}
.work-wrapper--work a:hover:before {
  opacity: 1;
}
.work-wrapper--work a:before,
.work-wrapper--work a:after {
  display: block;
  position: absolute;
}
.work-wrapper--work a:before {
  color: #ffffff;
  content: 'Click for Details';
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in;
  will-change: opacity;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 3;
}
.work-wrapper--work a:after {
  content: '';
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Styling */
.section {
  background-color: #ffffff;
}
.work-wrapper--work a {
  background-size: cover;
  background-repeat: none;
}

footer {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  padding: 2em 3em;
  text-align: center;
}
footer p {
  font-size: 1.25em;
}
