/* STYLES */
body,
html {
  margin: 0;
  height: 100%;
}
body {
  background-color: #ffffff;
}
h1,
p {
  color: #101010;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 900;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
}
section {
  height: 100vh;
}
/* MIXINS */
.wrapper {
  background-color: #ffffff;
}
@media only screen and (min-width:769px) and (max-width:1200px), only screen and (min-width:0px) and (max-width:768px) {
  .wrapper {
    margin-right: 0;
  }
}
/* ANIMATION CLASSES */
/* EXTRA STYLES FOR ANIMATION */
/* CONTACT BUTTON */
