/* COLORS */
/* FONTS */
/* Default Overrides */
h1 {
  margin: 0;
}
/* STYLES */
body,
html {
  margin: 0;
  height: 100%;
}
body {
  background-color: #55294A;
}
.grid {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grid > *:not(:last-child) {
  margin-bottom: 2rem;
}
.portrait {
  background-image: url(../images/ian3_small.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #CADEE6;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
h1,
p {
  color: #CADEE6;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}
p {
  font-family: 'Raleway', sans-serif;
  max-width: 50%;
}
/* Resets */
